<!-- home.page.html -->
<md-tab-group>
  <md-tab label="DEALS"></md-tab>
  <md-tab label="ABOUT TO SPOIL"></md-tab>
  <md-tab label="NOT THE BEST...BUT"></md-tab>
  <md-tab label="DISCOUNTED"></md-tab>
</md-tab-group>