<md-card>
	<md-card-header>
		<md-card-title>Checkout</md-card-title>
		<md-card-subtitle>Enter your shipping address</md-card-subtitle>
	</md-card-header>
	<md-card-content>

	<form>
		Form body
	</form>

	</md-card-content>
	<md-card-actions>
		<button md-button color="primary">Submit</button>
		<button md-button>Cancel</button>
	</md-card-actions>
</md-card>