<md-sidenav-container>
  <md-sidenav #sidenav mode="side">
    Sidenav
  </md-sidenav>

  <md-toolbar>
    <div class="filler"></div>
    <button md-button routerLink=""><md-icon>home</md-icon></button>
    <button md-button routerLink="/coupon"><md-icon>receipt</md-icon></button>
    <button md-button routerLink="/checkout"><md-icon>shopping_cart</md-icon></button>
    <button md-button routerLink="/help"><md-icon>help</md-icon></button>

    <md-toolbar-row>
      <button md-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>    
    </md-toolbar-row>
  </md-toolbar>

  <div class="container">
	<router-outlet></router-outlet>
  </div>
  
</md-sidenav-container>

