<md-sidenav-container>
  <md-sidenav #sidenav mode="side">
    Sidenav
  </md-sidenav>

  <md-toolbar>
    <div class="filler"></div>
    <button md-button>home</button>
    <button md-button>coupons</button>
    <button md-button>checkout</button>
    <button md-button>help</button>

    <md-toolbar-row>
      <button md-button (click)="sidenav.toggle()">menu</button>    
    </md-toolbar-row>
  </md-toolbar>

  <div class="container">
	<router-outlet></router-outlet>
  </div>
  
</md-sidenav-container>

